#header{

    background-color: white;
    position: sticky; 
    top: 20px; 

  

}

#header-logo, #location, #partner, #join{
display: flex;
justify-content: center;
align-items: center;

}
#anchor{
    text-decoration: none;
    color: black;
}
#join-button{

    width: 85px;
    height: 30px;
    font-size: 10px;
    background-color: green;
    color: white;
    border-radius: 15px;
    border-style: none;
}

#update{
    margin-top: 70px;
    height: 40px;
    background: rgb(0,22,126);
    background: linear-gradient(90deg, rgba(196,196,196,1) 0%, rgba(254,154,141,1) 44%, rgba(198,198,198,1) 100%);
    
}

#tags{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.first{
    
    color: white;
    font-weight: 700px;
    font-family: "Worksans";
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
   
}

.second{
    margin-top: 8px;
    color: whitesmoke;
    font-weight: 800px;
    font-family: "Worksans";
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

.banner-container{
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 50px;
    
}
.offer{
    box-shadow:
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
}


#Lamb-meat-banner{

    box-shadow:
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
}
#explainer{
    display: flex;
    justify-content: center;
    background-color: #f7fdfa;
}

.shrunk{
    width: 900px;
}

#chennai{

    font-family: sans-serif;
    font-weight: 900;
    font-size: 36px;
}

#desc{
    font-family: sans-serif;
    font-size: 16px;
    color: #6f7588;
}

#display{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}
#img{
    border-radius: 20px;
}
#img:hover{
    cursor:pointer
}

#top_picks{
    margin-top: 40px;
    display: flex;
    justify-content: center;
   
}

#topp{
    font-size: 28px;
    font-weight: 900px;
}